VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id

VITE_COLLECTION_CLIENTI=clienti
VITE_COLLECTION_OPERATORI=operatori
VITE_COLLECTION_SERVIZI=servizi
VITE_COLLECTION_APPUNTAMENTI=appuntamenti
VITE_COLLECTION_APPUNTAMENTO_SERVIZI=appuntamento_servizi
VITE_COLLECTION_ORARI_LAVORO=orari_lavoro
VITE_COLLECTION_BLOCCHI=blocchi
VITE_COLLECTION_PUSH_SUBSCRIPTIONS=push_subscriptions

VITE_VAPID_PUBLIC_KEY=
